@model IEnumerable<ClimateSmartAgriculture.Models.Crop>

@{
    ViewData["Title"] = "Crops";
}

<h1>Crops</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Farm</th>
            <th>Crop Type</th>
            <th>Planting Date</th>
            <th>Harvest Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(item.Farm?.Location ?? "No farm assigned")</td>
                <td>@item.CropType</td>
                <td>@item.PlantingDate.ToShortDateString()</td>
                <td>@item.HarvestDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CropId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CropId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
